/* Стилизация аккордеона */
.accordion_item {
    width: 730px;
    border: 1px solid var(--blue);
    margin-bottom: 8px;
    border-radius: 8px;
}

.accordion__item:last-child {
    margin-bottom: 0;
}

.accordion__summary {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.accordion__summary::-webkit-details-marker {
    display: none;
}

.accordion__innertext {
    font-size: 22px;
    font-weight: bold;
    margin-left: 20px;
}